  body {
    background-color: #f5f6f7;
  }
  h1 {
    color: #6b452f;
    font-family: 'Lobster',cursive;
    font-size:30pt;
   }
  h2 {
    color: rgb(107, 102, 44);
  }

  h3 {
    color: rgb(34, 16, 61);
    text-align: center;
    font-size:20pt;
  }

  p {
    color: rgb(41, 41, 43);
    font-size:18pt;
  }
  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  p.medium {
    line-height: 1.5;
  }

  a {
    color:  rgb(153, 149, 149);
  }
  .img-responsive {
    border-radius: 50%;
    margin-left: 5px;
  }

  .tab-mid {
    margin-right:400px;
  }
  .tab-right {
    margin-left: 100px;
  }
  .navbar{
    width:100%;
    margin:0px auto;
    left:0;
    right:0;
    padding: 0px;
}

.navbar-brand{
  width:100%;
  padding: 10px;
  font-size:20pt;
  font-family: 'Lobster',cursive, bold;
}

.subtitle {
  color: rgb(43, 38, 87);
  margin-left: 25px;
  font-size:25pt;
}
.nav-link{
  color: rgb(9, 8, 17);
  margin-left: 1200px;
  font-family: 'Lobster';
  font-size:20pt;
  text-decoration: none;
  
}
.titled-image-about{
  margin-left: 600px;
  margin-top: 200px;
}

.subtitle-about {
  color: rgb(43, 38, 87);
  margin-left: 620px;
  font-size:25pt;
}
.btn-resume{
  color: rgb(9, 8, 17);
  background-color: rgb(156, 149, 149);
  margin-left: 650px;
  font-family: 'Lobster';
  font-size:30pt;
  text-decoration: none;
  
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.container {
  width: 80%;
  height: 400px;
  margin-left:200px;
  background: rgb(173, 154, 152);
  margin: auto;
  padding: 10px;
}

.article-cell-1 {
  margin-left:500px;
  margin-top:1.5px;
  width:360px;
  height:80px;
  background: #ffffff;
  float: left;
}

.article-cell-2 {
  margin-left: 900px;
  margin-top:10px;
  width:500px;
  height:300px;
  float:auto;
  background: #ffffff;
  
}

.category {
  color: rgb(46, 2, 31);
  font-size:18pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.pop-over {
  margin: 20px 5px;
  display: inline-block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}